/* Variáveis de cor */
:root {
    --primary-color: #190d37;
    --secondary-color: #c9bad3;
    --accent-color: #5b457a;
    --highlight-color: #8b8c96;
    --hover-color: #7327b6;
    --text-light: #ffffff;
    --text-dark: #333333;
    --btn-hover-shadow: rgba(115, 39, 182, 0.5);
}

/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilos Globais */
body {
    background-color: var(--primary-color);
    color: var(--text-light);
    line-height: 1.6;
    font-size: 16px;
}

/* Tipografia */
h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--text-light);
}

/* Navegação */
.navbar {
    background-color: var(--primary-color);
    padding: 1rem 0;
    transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-light);
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    height: 50px;
}

.navbar-nav .nav-item .nav-link {
    color: var(--text-light);
    margin-left: 1rem;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--hover-color);
}

.navbar.scrolled {
    background-color: var(--accent-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Seções */
section {
    padding: 4rem 0;
    animation: fadeIn 1s ease-in-out both;
}

/* Estilos de competições */
#competitions {
    background-color: var(--primary-color);
}

#competitions .card {
    background-color: var(--accent-color);
    border: none;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#competitions .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#competitions .card-title {
    color: var(--highlight-color);
    font-weight: bold;
}

#competitions .card-text {
    color: var(--text-light);
    line-height: 1.4;
}

#team {
    background-color: var(--accent-color);
}

#team p {
    color: var(--text-light);
    text-align: center;
}

/* Redes Sociais */
#social {
    background-color: var(--primary-color);
}

#social i {
    transition: color 0.3s ease, transform 0.3s ease;
}

#social i:hover {
    color: var(--hover-color);
    transform: rotate(15deg) scale(1.2);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    padding: 1.5rem 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: var(--text-light);
    text-align: center;
}

/* Botões */
.btn {
    background-color: var(--hover-color);
    color: var(--text-light);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px var(--btn-hover-shadow);
    animation: buttonPulse 1s infinite;
}

/* Animação de botão */
@keyframes buttonPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px var(--btn-hover-shadow);
    }
    100% {
        transform: scale(1);
    }
}

/* Animações */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação de hover nas imagens */
.img-hover-zoom {
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.img-hover-zoom img {
    transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .card {
        margin-bottom: 1rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .img-hover-zoom {
        height: 200px;
    }
}

/* Carrossel de Competições Futuro */
.slick-slide {
    transition: transform 0.5s ease-in-out;
}

.slick-slide:hover {
    transform: scale(1.05);
}

/* Efeitos para as redes sociais */
.social-icon:hover {
    color: var(--highlight-color);
    transition: color 0.3s, transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.countdown-timer {
    font-size: 24px;
    font-weight: bold;
    color: #7327b6;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #7327b6;
    border-radius: 10px;
    background-color: #c9bad3;
    display: block; /* Garantir que está sendo exibido como bloco */
    text-align: center; /* Centraliza o texto dentro do bloco */
}

/* Seção: Música da Semana Cultural */
#cultural-music {
    background-color: var(--secondary-color);
    padding: 4rem 0;
    text-align: center;
    border-top: 5px solid var(--primary-color); /* Adicionando uma borda superior */
    position: relative; /* Para facilitar o posicionamento de elementos */
}

#cultural-music h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    text-transform: uppercase; /* Transformando o texto para maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
}

#cultural-music p {
    font-size: 1.2rem;
    color: var(--highlight-color);
    margin-bottom: 2rem;
    line-height: 1.5; /* Melhorando o espaçamento entre linhas */
}

#cultural-music iframe {
    width: 100%;
    max-width: 600px; /* Mantendo o máximo de largura */
    height: 80px; /* Definindo altura fixa */
    border: none; /* Removendo borda padrão */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombras para profundidade */
    margin: 0 auto; /* Centralizando o iframe */
}

@media (max-width: 768px) {
    #cultural-music h2 {
        font-size: 2rem; /* Reduzindo tamanho do texto em dispositivos móveis */
    }

    #cultural-music p {
        font-size: 1rem; /* Reduzindo tamanho do texto em dispositivos móveis */
    }

    #cultural-music iframe {
        max-width: 100%; /* Garantindo que o iframe ocupe 100% da largura */
        height: 60px; /* Ajustando a altura do iframe em dispositivos móveis */
    }
}

/* Seção: Comunicado da Semana Cultural */
#cultural-announcement {
    background-color: var(--secondary-color);
    padding: 4rem 0;
    text-align: center;
    border-top: 5px solid var(--primary-color); /* Adicionando uma borda superior */
    position: relative; /* Para facilitar o posicionamento de elementos */
    margin-bottom: 10px;
}

#cultural-announcement h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    text-transform: uppercase; /* Transformando o texto para maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
}

#cultural-announcement p {
    font-size: 1.2rem;
    color: var(--highlight-color);
    margin-bottom: 1.5rem;
    line-height: 1.5; /* Melhorando o espaçamento entre linhas */
}

#cultural-announcement .btn {
    background-color: var(--hover-color);
    color: var(--text-light);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 1rem; /* Adicionando um espaço acima do botão */
}

#cultural-announcement .btn:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--btn-hover-shadow);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    #cultural-announcement h2 {
        font-size: 2rem; /* Reduzindo tamanho do texto em dispositivos móveis */
    }

    #cultural-announcement p {
        font-size: 1rem; /* Reduzindo tamanho do texto em dispositivos móveis */
    }

    #cultural-announcement .btn {
        font-size: 1rem; /* Reduzindo tamanho do botão em dispositivos móveis */
        padding: 0.5rem 1rem; /* Ajustando padding do botão em dispositivos móveis */
    }
    }
